{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>个人资料</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-3">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="{{ user.username }}的头像" class="img-fluid">
                {% else %}
                    <img src="{% static "img/no_image.png" %}" alt="">
                {% endif %}
            </div>
        </div>
        <div class="col-sm-9">
            <table class="table">
                <tbody>
                <tr>
                    <th>用户名:</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>邮箱:</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>角色:</th>
                    <td>{{ user.get_role_display }}</td>
                </tr>
                <tr>
                    <th>手机号码:</th>
                    <td>{{ user.mobile }}</td>
                </tr>
                <tr>
                    <th>地址:</th>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <th>微信账号:</th>
                    <td>{{ user.weChat }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h1>捐赠记录</h1>
        {% if records %}
            <div class="col-sm-9">
                <table class="table">
                    <tbody>
                    {% for record in records %}
                        <tr>
                            <th>纪录{{ forloop.counter }}:</th>
                        </tr>
                        <tr>
                            <th>所属捐赠项目:</th>
                            <td><a href="{% url "donation:project_detail" record.donation_project.id %}">{{ record.donation_project }}</a></td>
                        </tr>
                        {#                        <tr>#}
                        {#                            <th>捐赠状态:</th>#}
                        {#                            <td>#}
                        {#                                {{ record.get_status_display }}#}
                        {#                            </td>#}
                        {#                        </tr>#}
                        <tr>
                            <th>捐赠价值:</th>
                            <td>{{ record.donation_amount }}</td>
                        </tr>
                        {#                        {% if record.status == '0' %}#}
                        <tr>
                            <td><a href="{% url "item:record_items_list" record.id %}">查看捐赠物品</a></td>
                        </tr>
                        {#                        {% endif %}#}

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
