{% extends "base.html" %}

{% block title %}
    <title>注册</title>
{% endblock %}

{% block content %}
    <section class="section bg-gray">
        <div class="container">
            <h1>
                注册
            </h1>
            <div class="module">
                <p>输入您的详细信息以创建一个帐户:</p>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="创建账户"></p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}