{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> 捐赠物资列表</title>
{% endblock %}
{% block content %}
    <section class="section bg-gray">
        <div class="container">
            <div class="col-md-12">
                {% with items.0.donation_record.donation_project as project %}
                    <h1 style="background-color: rgba(0,0,0,0.4);color: whitesmoke;padding-left: 20px;width: 100%">
                        <a href="{% url "account:profile" %}" style="color: whitesmoke">捐赠记录</a>
                    </h1>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>所属捐赠项目:</th>
                            <td>{{ project }}</td>
                        </tr>
                        <tr>
                            <th>捐赠价值:</th>
                            <td>{{ items.0.donation_record.donation_amount }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% if project.project_status != '0' or  project.project_status != '3' %}
                        {% if project %}
                            <p style="padding-left: 15px">
                                <a href="{% url "donation:project_detail" project.pk %}" class="btn btn-sm btn-primary">继续捐赠</a>
                            </p>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-12">
                <h1 style="background-color: rgba(0,0,0,0.4);color: whitesmoke;padding-left: 20px">捐赠物资</h1>
                {% for item in items %}
                    {% if item.status == '0' %}
                        <div class="mb-3 d-flex justify-content-between" style="border: 1px solid red">
                            <div class="pr-3 col-sm-8">
                                <p><b class="text-lg" style="font-size: large">物品{{ forloop.counter }}</b></p>
                                <p>
                                    <b class="text-lg" style="font-size: large">物品名称：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.name }}</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b class="text-lg" style="font-size: large">物品状态：</b>
                                    {% if item.status == '0' %}
                                        <a class="" style="font-size: medium;color: red" href="#">{{ item.get_status_display }}</a>
                                    {% else %}
                                        <a class="text-dark" style="font-size: medium" href="#">{{ item.get_status_display }}</a>
                                    {% endif %}
                                </p>
                                <p>
                                    <b class="text-lg" style="font-size: large">物品类别：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.category.name }}</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b class="text-lg" style="font-size: large">物品描述：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.detail }}</a>

                                </p>
                                <p>
                                    <b class="text-lg" style="font-size: large">物品数量：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.quantity }}</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b class="text-lg" style="font-size: large">物品价值：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.all_price }}</a>
                                </p>
                                {#                <div class="card-text text-muted small">#}
                                {#                    Jake Bittle in SCIENCE#}
                                {#                </div>#}
                                {#                <small class="text-muted">Dec 12 &middot; 5 min read</small>#}
                                {% if item.status == '0' %}
                                    <p>
                                        <a href="{% url "item:donation_item_change" record_id item.id %}" class="btn btn-sm btn-outline-info">修改</a>
                                        <a href="{% url "item:donation_item_delete" record_id item.id %}" class="btn btn-sm btn-outline-danger">删除</a>
                                    </p>
                                {% endif %}
                            </div>
                            {% if item.item_image %}
                                <img class="col-sm-4" style="padding: 0" src="{{ item.item_image.url }}">
                            {% else %}
                                <img class="col-sm-4" style="padding: 0" src="{% static "img/no_image.png" %}">
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="mb-3 d-flex justify-content-between" style="border: 1px solid">
                            <div class="pr-3 col-sm-8">
                                <p><b class="text-lg" style="font-size: large">物品{{ forloop.counter }}</b></p>
                                <p>
                                    <b class="text-lg" style="font-size: large">物品名称：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.name }}</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b class="text-lg" style="font-size: large">物品状态：</b>
                                    {% if item.status == '0' %}
                                        <a class="" style="font-size: medium;color: red" href="#">{{ item.get_status_display }}</a>
                                    {% else %}
                                        <a class="text-dark" style="font-size: medium" href="#">{{ item.get_status_display }}</a>
                                    {% endif %}
                                </p>
                                <p>
                                    <b class="text-lg" style="font-size: large">物品类别：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.category.name }}</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b class="text-lg" style="font-size: large">物品描述：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.detail }}</a>

                                </p>
                                <p>
                                    <b class="text-lg" style="font-size: large">物品数量：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.quantity }}</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <b class="text-lg" style="font-size: large">物品价值：</b>
                                    <a class="text-dark" style="font-size: medium" href="#">{{ item.all_price }}</a>
                                </p>
                                {% if item.status == '0' %}
                                    <p>
                                        <a href="{% url "item:donation_item_change" record_id item.id %}" class="btn btn-sm btn-outline-info">修改</a>
                                        <a href="{% url "item:donation_item_delete"  record_id item.id %}" methods="post" class="btn btn-sm btn-outline-danger">删除</a>
                                    </p>
                                {% endif %}
                            </div>
                            {% if item.item_image %}
                                <img class="col-sm-4" style="padding: 0" src="{{ item.item_image.url }}">
                            {% else %}
                                <img class="col-sm-4" style="padding: 0" src="{% static "img/no_image.png" %}">
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

